PrM7UF4ConsSOAP/src/conf/xml-resources/web-service-references/PedraPaperTisores/wsdl/localhost_8080/PPT-SOAP/PedraPaperTisores.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.ppt/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.ppt/">

<xs:element name="NotFoundException" type="tns:NotFoundException"/>

<xs:element name="acabarJoc" type="tns:acabarJoc"/>

<xs:element name="acabarJocResponse" type="tns:acabarJocResponse"/>

<xs:element name="afegirJugador" type="tns:afegirJugador"/>

<xs:element name="afegirJugadorResponse" type="tns:afegirJugadorResponse"/>

<xs:element name="consultarEstatPartida" type="tns:consultarEstatPartida"/>

<xs:element name="consultarEstatPartidaResponse" type="tns:consultarEstatPartidaResponse"/>

<xs:element name="getPartidas" type="tns:getPartidas"/>

<xs:element name="getPartidasResponse" type="tns:getPartidasResponse"/>

<xs:element name="iniciarJoc" type="tns:iniciarJoc"/>

<xs:element name="iniciarJocResponse" type="tns:iniciarJocResponse"/>

<xs:element name="moureJugador" type="tns:moureJugador"/>

<xs:element name="moureJugadorResponse" type="tns:moureJugadorResponse"/>

<xs:element name="setPartidas" type="tns:setPartidas"/>

<xs:element name="setPartidasResponse" type="tns:setPartidasResponse"/>

<xs:complexType name="setPartidas">
<xs:sequence>
<xs:element name="arg0" type="tns:partida" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partida">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="j1" type="tns:jugador" minOccurs="0"/>
<xs:element name="j2" type="tns:jugador" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="jugador">
<xs:sequence>
<xs:element name="estado" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="victorias" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setPartidasResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="acabarJoc">
<xs:sequence>
<xs:element name="codiPartida" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="acabarJocResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="afegirJugador">
<xs:sequence>
<xs:element name="codiPartida" type="xs:string" minOccurs="0"/>
<xs:element name="jugador" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="afegirJugadorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarEstatPartida">
<xs:sequence>
<xs:element name="codiPartida" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarEstatPartidaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moureJugador">
<xs:sequence>
<xs:element name="jugador" type="xs:string" minOccurs="0"/>
<xs:element name="tipus" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moureJugadorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="iniciarJoc">
<xs:sequence>
<xs:element name="codiPartida" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniciarJocResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPartidas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPartidasResponse">
<xs:sequence>
<xs:element name="return" type="tns:partida" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>