PrM7UF4ConsSOAP/src/conf/xml-resources/web-service-references/PedraPaperTisores/wsdl/localhost_8080/PPT-SOAP/PedraPaperTisores.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ppt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ppt/" name="PedraPaperTisores">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ppt/" schemaLocation="http://localhost:8080/PPT-SOAP/PedraPaperTisores?xsd=1"/>
</xsd:schema>
</types>
<message name="getPartidas">
<part name="parameters" element="tns:getPartidas"/>
</message>
<message name="getPartidasResponse">
<part name="parameters" element="tns:getPartidasResponse"/>
</message>
<message name="setPartidas">
<part name="parameters" element="tns:setPartidas"/>
</message>
<message name="setPartidasResponse">
<part name="parameters" element="tns:setPartidasResponse"/>
</message>
<message name="iniciarJoc">
<part name="parameters" element="tns:iniciarJoc"/>
</message>
<message name="iniciarJocResponse">
<part name="parameters" element="tns:iniciarJocResponse"/>
</message>
<message name="afegirJugador">
<part name="parameters" element="tns:afegirJugador"/>
</message>
<message name="afegirJugadorResponse">
<part name="parameters" element="tns:afegirJugadorResponse"/>
</message>
<message name="moureJugador">
<part name="parameters" element="tns:moureJugador"/>
</message>
<message name="moureJugadorResponse">
<part name="parameters" element="tns:moureJugadorResponse"/>
</message>
<message name="NotFoundException">
<part name="fault" element="tns:NotFoundException"/>
</message>
<message name="acabarJoc">
<part name="parameters" element="tns:acabarJoc"/>
</message>
<message name="acabarJocResponse">
<part name="parameters" element="tns:acabarJocResponse"/>
</message>
<message name="consultarEstatPartida">
<part name="parameters" element="tns:consultarEstatPartida"/>
</message>
<message name="consultarEstatPartidaResponse">
<part name="parameters" element="tns:consultarEstatPartidaResponse"/>
</message>
<portType name="PedraPaperTisores">
<operation name="getPartidas">
<input wsam:Action="http://ws.ppt/PedraPaperTisores/getPartidasRequest" message="tns:getPartidas"/>
<output wsam:Action="http://ws.ppt/PedraPaperTisores/getPartidasResponse" message="tns:getPartidasResponse"/>
</operation>
<operation name="setPartidas">
<input wsam:Action="http://ws.ppt/PedraPaperTisores/setPartidasRequest" message="tns:setPartidas"/>
<output wsam:Action="http://ws.ppt/PedraPaperTisores/setPartidasResponse" message="tns:setPartidasResponse"/>
</operation>
<operation name="iniciarJoc">
<input wsam:Action="http://ws.ppt/PedraPaperTisores/iniciarJocRequest" message="tns:iniciarJoc"/>
<output wsam:Action="http://ws.ppt/PedraPaperTisores/iniciarJocResponse" message="tns:iniciarJocResponse"/>
</operation>
<operation name="afegirJugador">
<input wsam:Action="http://ws.ppt/PedraPaperTisores/afegirJugadorRequest" message="tns:afegirJugador"/>
<output wsam:Action="http://ws.ppt/PedraPaperTisores/afegirJugadorResponse" message="tns:afegirJugadorResponse"/>
</operation>
<operation name="moureJugador">
<input wsam:Action="http://ws.ppt/PedraPaperTisores/moureJugadorRequest" message="tns:moureJugador"/>
<output wsam:Action="http://ws.ppt/PedraPaperTisores/moureJugadorResponse" message="tns:moureJugadorResponse"/>
<fault message="tns:NotFoundException" name="NotFoundException" wsam:Action="http://ws.ppt/PedraPaperTisores/moureJugador/Fault/NotFoundException"/>
</operation>
<operation name="acabarJoc">
<input wsam:Action="http://ws.ppt/PedraPaperTisores/acabarJocRequest" message="tns:acabarJoc"/>
<output wsam:Action="http://ws.ppt/PedraPaperTisores/acabarJocResponse" message="tns:acabarJocResponse"/>
</operation>
<operation name="consultarEstatPartida">
<input wsam:Action="http://ws.ppt/PedraPaperTisores/consultarEstatPartidaRequest" message="tns:consultarEstatPartida"/>
<output wsam:Action="http://ws.ppt/PedraPaperTisores/consultarEstatPartidaResponse" message="tns:consultarEstatPartidaResponse"/>
<fault message="tns:NotFoundException" name="NotFoundException" wsam:Action="http://ws.ppt/PedraPaperTisores/consultarEstatPartida/Fault/NotFoundException"/>
</operation>
</portType>
<binding name="PedraPaperTisoresPortBinding" type="tns:PedraPaperTisores">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPartidas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPartidas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="iniciarJoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="afegirJugador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moureJugador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="acabarJoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarEstatPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PedraPaperTisores">
<port name="PedraPaperTisoresPort" binding="tns:PedraPaperTisoresPortBinding">
<soap:address location="http://localhost:8080/PPT-SOAP/PedraPaperTisores"/>
</port>
</service>
</definitions>